# Telegram Bot Bildirishnoma Sozlamalari
# 1. @BotFather orqali yangi bot ochib TOKEN oling (masalan: 123456789:ABCdefGhI...)
# 2. @userinfobot yoki @myidbot orqali o'zingizning shaxsiy Chat ID raqamingizni oling (masalan: 987654321)

VITE_TELEGRAM_BOT_TOKEN=
VITE_TELEGRAM_CHAT_ID=
